/src/
/builds/
/.venv/
/.analysis-venv/
/raw/
/logs/
/tapes/data/
**/__pycache__/
**/*.pyc
**/*.bin

**/*.so
/analysis/offline/offline
/analysis/offline
/analysis/offline-offset25/offline
/analysis/offline-offset25
/analysis/offline-strict/offline
/tests/**/fixture
